<!DOCTYPE html>
<html>
<head>
	<title>Home | Menu</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}"/>
</head>

<body onload="footer_length()">
	<div class="bg">
		<h1>THE MOVIE DB</h1>
		<div class="modal">
			<div class="modal-content">
				<div class="modal-text"></div>
				<span class="close">&times;</span>
			</div>
		</div>
		<div class="page">
			<div class="tabs">
				<div class="home tab" id="home-tab" onclick="switchTab(event, 'home')">
					<p class="text">Home</p>
					<p class="arrow">&#8594;</p>
				</div>
				<div class="search tab" id="search-tab" onclick="switchTab(event, 'search_section')">
					<p class="text">Search</p>
					<p class="arrow">&#8594;</p>
				</div>
			</div>
			<div class="content" id="home">
				<div class="slide">
					<div class="section trending">
						<h2>Trending Movies</h2>
						<img class="home_poster" src="{{ trending_backdrops[0] }}"/>
						<div class="description">
							<p id="home_name">{{ trending_titles[0] + ' (' + dates[0][0:4] + ')' }}</p>
						</div>
					</div>
					<div class="section on-air">
						<h2>TV Shows On-Air Today</h2>
						<img class="home_poster" src="{{ tv_backdrops[0] }}"/>
						<div class="description">
							<p id="home_name">{{ tv_titles[0] + ' (' + air_dates[0][0:4] + ')' }}</p>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="section trending">
						<h2>Trending Movies</h2>
						<img class="home_poster" src="{{ trending_backdrops[1] }}"/>
						<div class="description">
							<p id="home_name">{{ trending_titles[1] + ' (' + dates[1][0:4] + ')' }}</p>
						</div>
					</div>
					<div class="section on-air">
						<h2>TV Shows On-Air Today</h2>
						<img class="home_poster" src="{{ tv_backdrops[1] }}"/>
						<div class="description">
							<p id="home_name">{{ tv_titles[1] + ' (' + air_dates[1][0:4] + ')' }}</p>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="section trending">
						<h2>Trending Movies</h2>
						<img class="home_poster" src="{{ trending_backdrops[2] }}"/>
						<div class="description">
							<p id="home_name">{{ trending_titles[2] + ' (' + dates[2][0:4] + ')' }}</p>
						</div>
					</div>
					<div class="section on-air">
						<h2>TV Shows On-Air Today</h2>
						<img class="home_poster" src="{{ tv_backdrops[2] }}"/>
						<div class="description">
							<p id="home_name">{{ tv_titles[2] + ' (' + air_dates[2][0:4] + ')' }}</p>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="section trending">
						<h2>Trending Movies</h2>
						<img class="home_poster" src="{{ trending_backdrops[3] }}"/>
						<div class="description">
							<p id="home_name">{{ trending_titles[3] + ' (' + dates[3][0:4] + ')' }}</p>
						</div>
					</div>
					<div class="section on-air">
						<h2>TV Shows On-Air Today</h2>
						<img class="home_poster" src="{{ tv_backdrops[3] }}"/>
						<div class="description">
							<p id="home_name">{{ tv_titles[3] + ' (' + air_dates[3][0:4] + ')' }}</p>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="section trending">
						<h2>Trending Movies</h2>
						<img class="home_poster" src="{{ trending_backdrops[4] }}"/>
						<div class="description">
							<p id="home_name">{{ trending_titles[4] + ' (' + dates[4][0:4] + ')' }}</p>
						</div>
					</div>
					<div class="section on-air">
						<h2>TV Shows On-Air Today</h2>
						<img class="home_poster" src="{{ tv_backdrops[4] }}"/>
						<div class="description">
							<p id="home_name">{{ tv_titles[4] + ' (' + air_dates[4][0:4] + ')' }}</p>
						</div>
					</div>
				</div>
				<div class="footer">
					<i>Designed and developed by Akansha, Pranav & Yash</i>
					<i>Powered by TMDB</i>
				</div>
			</div>
			<div class="content" id="search_section">
				<div id="search">
					<h3>Search</h3>
					<form action="{{ url_for('home') }}" method="post" id="search_form" name="search_form">
						<label for="keyword">Keyword</label>
						<input type="text" name="keyword" id="keyword" required><br><br>
						<label for="category">Category</label>
						<select name="category" id="category" required>
							<option value="" selected></option>
							<option value="movie">Movies</option>
							<option value="tv">TV Shows</option>
							<option value="both">Movies and TV Shows</option>
						</select>
						<input class="button" type="submit" value="Search" id="search_button" onClick="return check_search_input();">
						<input class="button" type="reset" value="Clear" id="clear_button">
					</form>
				</div>
				<div id="search_results"></div>
				<div class="footer">
					<i>Designed and developed by Akansha, Pranav & Yash</i>
					<i>Powered by TMDB</i>
				</div>
			</div>
		</div>
	</div>
	<script>
		function footer_length() {
			var footers = document.getElementsByClassName('footer');
			var width = window.innerWidth - 320;
			
			for (var i = 0; i < footers.length; i++) {
				footers[i].style.width = width.toString() + 'px';
			}
		}
		var onResize = function(event) {
			var footers = document.getElementsByClassName('footer');
			var width = window.innerWidth - 320;
			console.log("this width: " + width);
			for (var i = 0; i < footers.length; i++) {
				footers[i].style.width = width.toString() + 'px';
			}
		}
		window.addEventListener('resize', onResize);

		var slideIndex = 1;
		showSlides();

		function showSlides() {
			var i;
			var slides = document.getElementsByClassName('slide');
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = 'none';
			}
			slideIndex++;
			if (slideIndex > slides.length) {
				slideIndex = 1;
			}
			slides[slideIndex-1].style.display = 'block';
			setTimeout(showSlides, 4000);
		}

		function switchTab(event, sectionName) {
			var i, contents, links;
			contents = document.getElementsByClassName('content');
			for (i = 0; i < contents.length; i++) {
				contents[i].style.display = 'none';
			}
			links = document.getElementsByClassName('tab');
			for (i = 0; i < contents.length; i++) {
				links[i].className = links[i].className.replace(' active', '');
			}
			document.getElementById(sectionName).style.display = 'block';
			if (sectionName.localeCompare('search_section') == 0) {
				var search_result = document.getElementById('search_results');
				search_result.style.display = 'none';
			}
			event.currentTarget.className += ' active';
		}
		
		var search = '{{ search }}';
		if (search.localeCompare('true') == 0) {
			document.getElementById("search-tab").click();
			var search_result = document.getElementById('search_results');
			search_result.style.display = 'block';

			var showing = document.createElement('div');
			showing.innerHTML = '<p id="showing">Showing results...</p>';
			search_result.appendChild(showing);

			var poster = JSON.parse('{{ search_posters | tojson | safe }}');
			var title = JSON.parse('{{ search_titles | tojson | safe }}');
			var date = JSON.parse('{{ search_dates | tojson | safe }}');
			var genre = JSON.parse('{{ search_genres | tojson | safe }}');
			var avg = JSON.parse('{{ search_avgs | tojson | safe }}');
			var cnt = JSON.parse('{{ search_cnts | tojson | safe }}');
			var show_id = JSON.parse('{{ search_ids | tojson | safe }}');
			var show_type = JSON.parse('{{ search_types | tojson | safe }}');
			
			var overview = [];
			overview.push('{{ search_overviews[0] }}');
			overview.push('{{ search_overviews[1] }}');
			overview.push('{{ search_overviews[2] }}');
			overview.push('{{ search_overviews[3] }}');
			overview.push('{{ search_overviews[4] }}');
			overview.push('{{ search_overviews[5] }}');
			overview.push('{{ search_overviews[6] }}');
			overview.push('{{ search_overviews[7] }}');
			overview.push('{{ search_overviews[8] }}');
			overview.push('{{ search_overviews[9] }}');

			for (var i = 0; i < poster.length; i++) {
				var div_search = document.createElement('div');
				var front = '<div class="result"><img class="search_poster" src="' + poster[i] + '"/><div class="search_info"><h5>' + title[i] + '</h5><p>' + date[i] + ' | ' + genre[i] + '</p><div class="search_reviews"><p class="rate">&#9733; ' + avg[i] + '/5</p><p class="vote">' + cnt[i] + ' votes</p></div><p class="search_overview">' + overview[i] + '</p><div class="show_more" onclick="show_more(' + show_id[i] + ', ';
				
				var middle = front.concat("'" + show_type[i] + "'");
				var all = middle + ')">Show more</div></div></div>';
				div_search.innerHTML = all;
				search_result.appendChild(div_search);
			}
		}
		else if (search.localeCompare('no_result') == 0){
			document.getElementById("search-tab").click();
			var search_result = document.getElementById('search_results');
			search_result.style.display = 'block';

			var showing = document.createElement('div');
			showing.innerHTML = '<p id="no_result">No result found. </p>';
			search_result.appendChild(showing);
		}
		else {
			document.getElementById('home-tab').click();
		}

		function check_search_input(){
			var keyword = document.search_form.keyword.value;
			var category = document.search_form.category.value;
			if (keyword === "" || category === "") {
				alert("Please enter valid values.");
				return false;
			} else {
				var form = document.getElementById('search_form');
				form.submit();
				return true;
			}
		}

		var modal = document.getElementsByClassName("modal")[0];
		var span = document.getElementsByClassName("close")[0];
		var div;

		function getJSON(callback, id, type) {
			var request = new XMLHttpRequest();
			request.open("POST", "/info?show_id=" + id + "&show_type=" + type, true);
			request.responseType = 'json';
			request.onload = function() {
				var status = request.status;
				if (status == 200) {
					callback(null, request.response);
				} 
				else {
					callback(status, request.response);
				}
			};
			request.send();
		}

		function show_more(id, type) {
			console.log(id + ", " + type);
			var modal_text = document.getElementsByClassName("modal-text")[0];
			getJSON(function(err, data) {
				if (err === null) {
					var show_info = data;
					div = document.createElement('div');
					div.classList.add('modal-inner');
					var inner = '<p></p>';
					if (type.localeCompare('movie') == 0) {
						inner = '<img class="show_backdrop" src="' + show_info['backdrop'] + '"/>';
						inner += '<div class="show_title"><h5>' + show_info['title'] + '</h5><a href="https://www.themoviedb.org/' + type + '/' + id.toString() + '" class="show_link" target="_blank">&#9432;</a></div>';
						inner += '<p class="show_date_genre">' + show_info["date"].substring(0, 4) + ' | ' + show_info['genre'] + '</p>';
						inner += '<div class="search_reviews"><p class="rate">&#9733; ' + show_info['vote_avg'] + '/5</p><p class="vote">' + show_info['vote_cnt'] + ' votes</p></div>';
						inner += '<p class="show_overview">' + show_info['overview'] + '</p>';
						inner += '<p class="show_language">Spoken languages: ' + show_info['language'] + '</p>';
						inner += '<div class="show_credits"><p class="cast">Cast</p><div class="credits_section">';
						var credits = show_info['credits'];
						console.log(credits);
						for (var i = 0; i < credits.length; i++) {
							if (i == 0) {
								inner += '<div class="actor actor_left">';
							} else if (i == credits.length - 1) {
								inner += '<div class="actor actor_right">';
							} else {
								inner += '<div class="actor">';
							}
							inner += '<img class="profile" src="' + credits[i]['profile'] + '"/>';
							inner += '<p class="actor_name">' + credits[i]['name'] + '<p/>';
							inner += '<p>AS<p/>';
							inner += '<p>' + credits[i]['char'] + '<p/></div>';
						}
						inner += '</div></div><div class="review_section"><p class="reviews">Reviews</p>';
						var reviews = show_info['reviews'];
						for (var i = 0; i < reviews.length; i++) {
							inner += '<div class="review"><div class="review_1_line"><p class="username">' + reviews[i]['username'] + '</p><p class="review_date">on ' + reviews[i]['created_at'] + '</p></div>';
							if (reviews[i]['rating'] === "") {
								inner += '<p class="rate">&#9733; ' + reviews[i]['rating'] + '</p>';
							}
							inner += '<p class="review_content">' + reviews[i]['content'] + '</p>';
							
							if (i == reviews.length - 1){
								inner += '<div class="review_underline"></div><div class="last_underline"><br/></div></div>';
							} else {
								inner += '<div class="review_underline"></div></div>';
							}
						}
						inner += '</div>';
					} else {
						inner = '<img class="show_backdrop" src="' + show_info['backdrop'] + '"/>';
						inner += '<div class="show_title"><h5>' + show_info['title'] + '</h5><a href="https://www.themoviedb.org/' + type + '/' + id.toString() + '" class="show_link" target="_blank">&#9432;</a></div>';
						inner += '<p class="show_date_genre">' + show_info["date"].substring(0, 4) + ' | ' + show_info['genre'] + '</p>';
						inner += '<div class="search_reviews"><p class="rate">&#9733; ' + show_info['vote_avg'] + '/5</p><p class="vote">' + show_info['vote_cnt'] + ' votes</p></div>';
						inner += '<p class="show_overview">' + show_info['overview'] + '</p>';
						inner += '<p class="show_language">Spoken languages: ' + show_info['language'] + '</p>';
						inner += '<div class="show_credits"><p class="cast">Cast</p><div class="credits_section">';
						var credits = show_info['credits'];
						for (var i = 0; i < credits.length; i++) {
							if (i == 0) {
								inner += '<div class="actor actor_left">';
							} else if (i == credits.length - 1) {
								inner += '<div class="actor actor_right">';
							} else {
								inner += '<div class="actor">';
							}
							inner += '<img class="profile" src="' + credits[i]['profile'] + '"/>';
							inner += '<p class="actor_name">' + credits[i]['name'] + '<p/>';
							inner += '<p>AS<p/>';
							inner += '<p>' + credits[i]['char'] + '<p/></div>';
						}
						inner += '</div></div><div class="review_section"><p class="reviews">Reviews</p>';
						var reviews = show_info['reviews'];
						for (var i = 0; i < reviews.length; i++) {
							inner += '<div class="review"><div class="review_1_line"><p class="username">' + reviews[i]['username'] + '</p><p class="review_date">on ' + reviews[i]['created_at'] + '</p></div>';
							if (reviews[i]['rating'] === "") {
								inner += '<p class="rate">&#9733; ' + reviews[i]['rating'] + '</p>';
							}
							inner += '<p class="review_content">' + reviews[i]['content'] + '</p>';
							if (i == reviews.length - 1){
								inner += '<div class="review_underline"></div><div class="last_underline"><br/></div></div>';
							} else {
								inner += '<div class="review_underline"></div></div>';
							}
						}
						inner += '</div>';
					}

					div.innerHTML = inner;
					modal_text.appendChild(div);
					modal.style.display = "block";
				}
			}, id, type);
		}

		function delete_current_modal() {
			div.remove();
		}

		span.onclick = function() {
			modal.style.display = "none";
			delete_current_modal();
		};

		window.onclick = function(event) {
			if (event.target == modal){
				modal.style.display = "none";
				delete_current_modal();
			}
		};
	</script>
</body>
</html>